.result {
    background-color: azure;
    border: solid 2px black;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 66%;
}

.background {
    left: 50%;
    top: 50%;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.3;
    position: absolute;
    transform: translate(-50%, -50%);
}

.logo {
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
}

.result ul {
    list-style-type: none;
    padding: 0px;
}

.result li {
    margin-bottom: 10px;
}

.result input[type=checkbox] {
    margin-left: 15px;
    margin-right: 5px;
}

.result .label {
    font-weight: bold;
}
