.result {
    overflow: hidden;
    position: relative;
    border-bottom: solid 2px black;
    text-align: center;
}

.resultBackground {
    height: 100%;
    left: 0;
    object-fit: contain;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}

.resultContent {
    position: relative;
}

.result ul {
    list-style-type: none;
    padding: 0px;
}

.result li {
    margin-bottom: 10px;
}

.result input[type=checkbox] {
    margin-left: 15px;
    margin-right: 5px;
}

.result .label {
    font-weight: bold;
}
