header {
    background-color: white;
    border-bottom: solid 2px black;
    left: 50%;
    position: fixed;
    text-align: center;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 10;
}

main {
    overflow: auto;
    position: absolute;
    top: 450px;
    width: 100%;
    z-index: 5;
}
