header {
    position: fixed;
    width: 100%;
    background-color: white;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

main {
    position: absolute;
    top: 500px;
    z-index: 5;
    overflow: auto;
}
